<div class="line">
    <div class="owl">
        <div class="left">
            <a href="/<%=owl._id%>">
                <%=owl.name%>
            </a>
        </div>
        <div class="centered">
            <span>Age:<%=owl.age%></span>
            <span>Weight:<%=owl.weight%></span>
        </div>
        </br>
        <a href="/owls/<%=owl._id%>/edit">Edit</a>
        <a href="/owls/<%=owl._id%>/destroy">Remove</a>
        <hr/>
    </div>
</div>
